body {
    display: block;
    padding: 0 auto;
    margin: 0 auto;
    background: #202632;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding-inline: 1.6rem ;
}

.advice-generator {
    font-family: "Manrope", sans-serif;
    width: 540px;
    height: 335px;
    display: grid;
    grid: max-content 2.2rem / 1fr;
}

.advice-generator_output {
    background: #313A49;
    padding: 40px 20.4px 60.4px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20.4px;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

.advice-generator_advice-number {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #53FFAB;
}

.advice-generator_quote {
    color: #D9D9D9;
    text-align: center;
    font-family: StratosWeb;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 600px) {
    .advice-generator_advice-number {
        font-size: 15px;
        line-height: normal;
        letter-spacing: 2.1px;
    }
}

@media screen and (min-width: 600px) {
    .advice-generator_quote {
        margin-bottom: 1.9rem;
        font-size: 30px;
        line-height: normal;
    }
}

.advice-generator_divider {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

picture > img {
    margin: auto;
    width: 100%;
}

.advice-generator_btn {
    border: 0;
    width: 65px;
    height: 65px;
    background: #53FFAB;  
    border-radius: 50%; 
    grid-row: 2/3;
    grid-column: 1/2;
    place-self: end center;
    cursor: pointer;
    transition: box-shadow 250ms;
}

.advice-generator_btn:hover {
    box-shadow: 0px 0px 20px #53FFAB;
}

.advice-generator_btn-img {
    transition: transform 250ms;
}

.advice-generator_btn:hover > img {
    transform: rotate(135deg);
}